/* You can add global styles to this file, and also import other style files */
html{
    background: #03357c;
    height: 100%;
    margin: 0;
}

body{
    background: #03357c;
    margin-top: 0 auto;
}

